<ion-header>
  <ion-toolbar>
    <ion-title>Friends</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="./addfriend">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-item style = "margin-top: -8px; margin-bottom: -8px">

        <ion-input placeholder="Search" ></ion-input>
      </ion-item>
<!--      <ion-searchbar [formControl]="searchControl" placeholder="Search">-->
<!--      </ion-searchbar>-->
    </ion-row>
<!--    <ion-list *ngFor="friendList" lines="none">-->
      <ion-item>
        <ion-avatar slot="start">
          <ion-img [src]="photoProfile"></ion-img>
        </ion-avatar>
        <ion-label>
          <ion-text>{{ usernames }}</ion-text>
        </ion-label>
      </ion-item>
<!--    </ion-list>-->
  </ion-grid>
</ion-content>
